---
import PricingCard from "./PricingCard.astro"

const CARDS_CONTENT = [
  {
    massage_oriental: [
      {
        variant: "Masaż tajski",
        firstPrice: "195 zł",
        secondPrice: "225 zł"
      },
      {
        variant: "Masaż leczniczo-sportowy",
        firstPrice: "219 zł",
        secondPrice: "249 zł"
      },
      {
        variant: "Masaż balijski",
        firstPrice: "229 zł",
        secondPrice: "269 zł"
      },
      {
        variant: "Masaż Lomi Lomi",
        firstPrice: "229 zł",
        secondPrice: "269 zł"
      },
      {
        variant: "Masaż olejkami aromatycznymi",
        firstPrice: "209 zł",
        secondPrice: "249 zł"
      },
      {
        variant: "Balijski masaż na 4 ręce",
        firstPrice: "339 zł",
        secondPrice: "389 zł"
      },
    ],
    massage_warming: [
      {
        variant: "Masaż gorącymi kamieniami bazaltowymi",
        firstPrice: "229 zł",
        secondPrice: "289 zł"
      },
      {
        variant: "Masaż świecą aromatyczną",
        firstPrice: "229 zł",
        secondPrice: "259 zł"
      },
      {
        variant: "Masaż gorącymi stemplami ziołowymi",
        firstPrice: "249 zł",
        secondPrice: "289 zł"
      },
    ],
    massage_rituals: [
      {
        variant: "Rytuał Orient",
        firstPrice: "390 zł",
        additionalDescription: "Peeling + masaż orientalny ciała olejem. Odczucia: pobudzenie, tajemniczość, kobiecość"
      },
      {
        variant: "Rytuał Jedwab",
        firstPrice: "390 zł",
        additionalDescription: "Peeling + masaż orientalny ciała mleczkiem do masażu. Odczucia: odmłodzenie i jedwabisty blask"
      },
      {
        variant: "Rytuał Tytan",
        firstPrice: "390 zł",
        additionalDescription: "Peeling + masaż orientalny ciała olejem. Odczucia: siła, witalność, męska energia"
      },
      {
        variant: "Rytuał Czerwone Wino",
        firstPrice: "360 zł",
        additionalDescription: "Peeling + masaż orientalny masłem do ciała. Efekty: ujędrnienie, rewitalizacja"
      },
      {
        variant: "Rytuał Rajski Grapefruit",
        firstPrice: "360 zł",
        additionalDescription: "Peeling + masaż orientalny olejem. Efekty: odchudzanie, działanie antycellulitowe"
      },
      {
        variant: "Rytuał Bursztynowy",
        firstPrice: "360 zł",
        additionalDescription: "Peeling + masaż orientalny maską do ciała. Odczucia: równowaga duchowa, energia młodości"
      }
    ],
    massage_carnet: [
      {
        variant: "5 MASAŻY - RABAT 10%, OKRES WAŻNOŚCI 3 MIESIĄCE",
      },
      {
        variant: "10 MASAŻY - RABAT 20%, OKRES WAŻNOŚCI 6 MIESIĘCY",
      },
    ],
    massage_duo: [
      {
        variant: "Wybierz dowolny masaż lub rytuał z oferty, otrzymasz -10% od wartości masaży/ rytuałów w pakiecie dla 2 osób",
      },
    ],
  }
]
---
<section class="relative w-full flex justify-center items-center py-10 lg:py-28">
    <div class="md:py-10 flex flex-col justify-center items-center md:items-start mb-10 md:mb-[unset]">
      <div class="mb-12">
        <h3 class="text-7xl font-primary font-bold text-button-dark mb-3">
          Cennik
        </h3>
        <p class="text-secondary-text font-secondary text-xl font-medium">Sprawdź wycenę naszych usług</p>
      </div>
      <div class="flex flex-wrap justify-center lg:justify-start items-baseline gap-11 p-10 md:p-0 max-w-[1000px]">
        <PricingCard title="Masaże orientalne" variant={CARDS_CONTENT[0].massage_oriental} firstTimeVariant="60 min" secondTimeVariant="90 min" isOrientalVariant />
        <div class="flex flex-col gap-4">
        <PricingCard title="Masaże rozgrzewające" variant={CARDS_CONTENT[0].massage_warming} firstTimeVariant="60 min" secondTimeVariant="90 min" />
        <div class="flex flex-col gap-4">
          <PricingCard title="Karnety na Masaże/Rytuały" variant={CARDS_CONTENT[0].massage_carnet} isCarnet={true} />
          <PricingCard title="Masaże dla dwojga" variant={CARDS_CONTENT[0].massage_duo} isCarnet={true} />
        </div>
      </div>
        <PricingCard title="Rytuały SPA" variant={CARDS_CONTENT[0].massage_rituals} firstTimeVariant="90 min" isadditionalDescription isCollapsed/>

      </div>
    </div>
  </section>