---
interface PricingProps {
    title: string
    variant: object[]
    variantTitle: string
    isadditionalDescription?: boolean
    additionalTitle?: string
    isCarnet?: boolean
    isWarmingVariant?: boolean
    isRitualVariant?: boolean
    isDuoMassage?: boolean
}

const { title, variant, variantTitle,isadditionalDescription, isCarnet, isWarmingVariant, isRitualVariant, isDuoMassage, additionalTitle } = Astro.props
---
<div>
    <h6 class="font-primary text-3xl text-button-dark font-bold pb-6 text-center md:text-left">
        {title}
        <!-- <br/> -->
        {additionalTitle && <p class="font-secondary text-base text-black">{additionalTitle}</p>}
    </h6>
    <table class=`rounded-lg border-separate border-spacing-1 w-full md:max-w-[800px]`>
        <thead >
            <tr>
                <th class=`font-secondary text-lg text-secondary-text font-semibold md:py-3 px-4 bg-primary-light text-left ${isDuoMassage ? "hidden" : ""}   ${isadditionalDescription ? "md:w-[350px]" : ""}`>{variantTitle}</th>
                <th class=`font-secondary text-lg text-secondary-text font-semibold md:py-3 px-4 bg-primary-light ${ isCarnet || isWarmingVariant || isRitualVariant ? "hidden" : ""}`>30 min</th>
                <th class=`font-secondary text-lg text-secondary-text font-semibold md:py-3 px-4 bg-primary-light ${ isCarnet || isWarmingVariant || isRitualVariant ? "hidden" : ""}`>45 min</th>
                <th class=`font-secondary text-lg text-secondary-text font-semibold md:py-3 px-4 bg-primary-light ${ isCarnet || isRitualVariant ? "hidden" : ""}`>60 min</th>
                <th class=`font-secondary text-lg text-secondary-text font-semibold md:py-3 px-4 bg-primary-light ${ isCarnet ? "hidden" : ""}`>90 min</th>
            </tr>
        </thead>
        <tbody>
            {variant.map((item: any) => (
             <tr>
                <td class="font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light w-1/2">{item.variant}
                    <br/>
                    <p class={`${isadditionalDescription ? "text-xs leading-none italic pt-2" : "hidden"}`}>
                        {item.additionalDescription}
                        <br>
                        {item.secondAdditionalDescription}
                    </p>
                </td>
                <td class={`font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light text-center ${ isCarnet || isWarmingVariant || isRitualVariant ? "hidden" : ""}`}>{item.firstPrice}</td>
                <td class={`font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light text-center ${ isCarnet || isWarmingVariant || isRitualVariant ? "hidden" : ""}`}>{item.secondPrice}</td>
                <td class={`font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light text-center ${ isCarnet || isRitualVariant ? "hidden" : ""}`}>{item.thirdPrice}</td>
                <td class={`font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light text-center ${ isCarnet ? "hidden" : ""}`}>{item.fourthPrice}</td>
            </tr>
            ))}
        </tbody>
    </table>
</div>