---
import Layout from "../layouts/Layout.astro"
import photo_052 from "assets/photos/offer/spa/BeautyEssence_052-min.webp"
import photo_89 from "assets/photos/offer/spa/BeautyEssence_089-min.webp"
import photo_87 from "assets/photos/offer/spa/BeautyEssence_087-min.webp"
import head_spa_additional_photo from "assets/photos/offer/spa/head_spa_additional2.jpg"
import head_spa_photo_213 from "assets/photos/offer/headspa/BeautyEssence_213-min.webp"
import head_spa_photo_209 from "assets/photos/offer/headspa/BeautyEssence_209-min.webp"
import head_spa_photo_200 from "assets/photos/offer/headspa/BeautyEssence_200-min.webp"
import head_spa_photo_229 from "assets/photos/offer/headspa/BeautyEssence_229-min.webp"
import { Image } from "astro:assets"

const MASSAGES_DATA = {}
const OFFER_CONTENT = [{}]
---

<Layout>
    <!-- <OfferSubpage title={MASSAGES_DATA.title} firstImage={MASSAGES_DATA.firstImage} firstAlt={MASSAGES_DATA.firstAlt} firstDescription={MASSAGES_DATA.firstDescription} secondDescription={MASSAGES_DATA.secondDescription} secondImage={MASSAGES_DATA.secondImage} secondAlt={MASSAGES_DATA.secondAlt} offerContent={OFFER_CONTENT} isRitualMassage={true} thirdDescription={MASSAGES_DATA.thirdDescription} idAdditionalMassage={true} /> -->
    <section class="w-full flex flex-col justify-center items-center lg:pt-64">
        <div class="container mx-auto w-full md:py-10 flex flex-col justify-center">
          <h3 class="text-7xl font-primary font-bold text-button-dark mb-12 text-center xl:text-left mt-32 xl:mt-[unset] ml-[4%] xl:ml-[11%]">
            Head SPA
          </h3>
          <div class="relative">
            <div class="relative justify-center items-start hidden xl:flex">
              <div class="w-[612px] h-[573px] overflow-hidden flex justify-center">
                <Image src={photo_052} alt="Masowana osoba" class="w-full h-full object-cover" />
              </div>
              <div class="-z-10 max-w-[548px] lg:max-w-xl bg-primary-light pt-24 pr-10 pb-96 pl-40 -translate-x-24 translate-y-24">
              <p class="text-xl text-secondary-text leading-[130%] mb-5" >
                Head Spa to luksusowy seans relaksacyjno -pielęgnacyjny. To wyjątkowe chwile, które łączą w sobie elementy aromaterapii, akupunktury i wyciszenia. W trakcie head spa wykonujemy pielęgnację skóry głowy i włosów. Dla większego relaksu i efektu wybierz opcję z liftingującym masażem twarzy. Każdy pakiet zawiera masaż ramion i pleców. 
              </p>
              <!-- <p class="text-xl text-secondary-text leading-[130%]">
                Nasze rytuały Head SPA to niezwykłe doświadczenie, które łączy w sobie starożytne tajniki masażu, aromaterapii i pielęgnacji skóry głowy. Każdy krok tego wyjątkowego rytuału jest zaprojektowany tak, aby dostarczyć Ci niezapomnianych chwil relaksu i regeneracji. Pozwól sobie na oderwanie się od codziennego zgiełku i zanurz się w luksusie rytuału Head SPA.
               <br><br>
               <p class="text-xl text-secondary-text leading-[130%]">
                To idealny wybór dla tych, którzy pragną doświadczyć prawdziwego relaksu na najwyższym poziomie.
                <br>
              </p> -->
            </div>
            </div>
            <div class="relative justify-center items-start hidden xl:flex ">
              <div class="hidden lg:block absolute w-full max-w-sm before:h-full h-96 rounded-full bg-primary-light -z-10 left-64 -top-72"></div>
              <div class="w-[658px] h-[495px] overflow-hidden flex justify-center -translate-y-64">
                <Image src={photo_89} alt="Masowana osoba" class="w-full h-full object-cover" />
              </div>
            </div>
            <div class="flex flex-col items-center p-4 xl:hidden">
              <div class="w-[382px] h-[288px] overflow-hidden flex justify-center">
                <Image src={photo_89} alt="Masowana osoba" class="w-full h-full object-cover" />
              </div>
              <div class="-z-10 md:max-w-[548px] bg-primary-light p-10">
                <p class="text-xl text-secondary-text leading-[130%] mb-5">
                  Head Spa to luksusowy seans relaksacyjno -pielęgnacyjny. To wyjątkowe chwile, które łączą w sobie elementy aromaterapii, akupunktury i wyciszenia. W trakcie head spa wykonujemy pielęgnację skóry głowy i włosów. Dla większego relaksu i efektu wybierz opcję z liftingującym masażem twarzy. Każdy pakiet zawiera masaż ramion i pleców. 
                </p>
                <!-- <p class="text-xl text-secondary-text leading-[130%] mb-12">
                    Nasze rytuały SPA to niezwykłe doświadczenie, które łączy w sobie starożytne tajniki masażu, aromaterapii i pielęgnacji skóry. Każdy krok tego wyjątkowego rytuału jest zaprojektowany tak, aby dostarczyć Ci niezapomnianych chwil relaksu i regeneracji. Pozwól sobie na oderwanie się od codziennego zgiełku i zanurz się w luksusie rytuału SPA.
                </p> -->
              </div>
            </div>
        </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center py-10 lg:py-28 bg-primary-light">

        <div class="flex flex-col lg:flex-row justify-center gap-4 md:gap-11 max-w-[1000px] pb-10">
            <div class="w-[360px] h-[337px] mx-auto overflow-hidden flex justify-center ">
                <Image src={head_spa_photo_213} alt={"something"} class="w-full h-full object-cover cursor-pointer hover:scale-110 transition-transform duration-300" />
            </div>
            <div class="p-4 md:pt-0 w-full max-w-[400px] lg:max-w-[512px]">
                <h6 class="font-primary text-button-dark text-4xl font-bold mb-2">Zen Head SPA</h6>
                <!-- <p class="font-secondary text-button-dark text-base font-bold mb-2">{subtitle}</p> -->
                <p class="text-xl text-secondary-text leading-[130%] mb-6">
                    <p class="text-xl text-secondary-text leading-[130%] mb-6">
                      <ul class=` text-lg text-secondary-text leading-[130%] mb-6`>
                          <li>• aromaterapia antystresowa</li>
                          <li>• masaż głowy z elementami ajurwedy</li>
                          <li>• masaż odcinka szyjnego i klatki piersiowej</li>
                          <li>• peeling enzymatyczny skóry głowy z masażem skalpu</li>
                          <li>• indywidualnie dobrana organiczna kąpiel włosów oraz dedykowana maska z sauną parową, oparte na naturalnych produktach z biodynamicznych upraw</li>
                          <li>• rytuał ciepłymi ręcznikami z aromaterapią energetyzującą</li>
                          <li>• wzmacniający masaż pleców w pozycji siedzącej</li>
                          <li>• suszenie włosów suszarką Dyson</li>
                          <p>*produkty do pielęgnacji włosów bazują na olejkach eterycznych i hydrolatach m.in rozmarynu, lawendy, wyciągu z oliwek, olejku makadamia, orzecha włoskiego, bergamotki, pomarańczy, kopru włoskiego.</p>
                      </ul>
                    </p>
                  <p class="font-secondary text-button-dark text-2xl font-regulary">349 PLN (1h 15min)</p>
            </div>
          </div>

          <div class="flex flex-col lg:flex-row justify-center gap-4 md:gap-11 max-w-[1000px] pb-10">
            <div class="w-[360px] h-[337px] mx-auto overflow-hidden flex justify-center ">
                <Image src={head_spa_photo_209} alt={"something"} class="w-full h-full object-cover cursor-pointer hover:scale-110 transition-transform duration-300" />
            </div>
            <div class="p-4 md:pt-0 w-full max-w-[400px] lg:max-w-[512px]">
                <h6 class="font-primary text-button-dark text-4xl font-bold mb-2">Harmony Head SPA</h6>
                <!-- <p class="font-secondary text-button-dark text-base font-bold mb-2">{subtitle}</p> -->
                <p class="text-xl text-secondary-text leading-[130%] mb-6">
                    <p class="text-xl text-secondary-text leading-[130%] mb-6">
                      <ul class=` text-lg text-secondary-text leading-[130%] mb-6`>
                        <li>• aromaterapia antystresowa</li>
                        <li>• masaż głowy z elementami ajurwedy</li>
                        <li>• masaż odcinka szyjnego i klatki piersiowej</li>
                        <li>• demakijaż spa + autorska pielęgnacja twarzy</li>
                        <li>• płatki nawilżające pod oczy z kolagenem, kwasem hialuronowym i kompleksem wodorostów + maska na usta z matchą, olejem arganowym, witaminą E</li>
                        <li>• peeling enzymatyczny skóry głowy z masażem skalpu</li>
                        <li>• indywidualnie dobrana organiczna kąpiel włosów oraz dedykowana maska z sauną parową, oparte na naturalnych produktach z biodynamicznych upraw</li>
                        <li>• rytuał energetyzujący z ciepłymi ręcznikami z aromaterapią</li>
                        <li>• wzmacniający masaż pleców w pozycji siedzącej</li>
                        <li>• suszenie włosów suszarką Dyson</li>
                        <p>*produkty do pielęgnacji włosów bazują na olejkach eterycznych i hydrolatach m.in rozmarynu, lawendy, wyciągu z oliwek, olejku makadamia, orzecha włoskiego, bergamotki, pomarańczy, kopru włoskiego.</p>
                    </ul>
                  </p>
                <p class="font-secondary text-button-dark text-2xl font-regulary">439 PLN (1h 45min)</p>
            </div>
          </div>

          <div class="flex flex-col lg:flex-row justify-center gap-4 md:gap-11 max-w-[1000px] pb-10">
            <div class="w-[360px] h-[337px] mx-auto overflow-hidden flex justify-center ">
                <Image src={head_spa_photo_200} alt={"something"} class="w-full h-full object-cover cursor-pointer hover:scale-110 transition-transform duration-300" />
            </div>
            <div class="p-4 md:pt-0 w-full max-w-[400px] lg:max-w-[512px]">
                <h6 class="font-primary text-button-dark text-4xl font-bold mb-2">Oriental Face Head SPA</h6>
                <!-- <p class="font-secondary text-button-dark text-base font-bold mb-2">{subtitle}</p> -->
                <p class="text-xl text-secondary-text leading-[130%] mb-6">
                    <p class="text-xl text-secondary-text leading-[130%] mb-6">
                      <ul class=` text-lg text-secondary-text leading-[130%] mb-6`>
                        <li>• aromaterapia antystresowa</li>
                        <li>• masaż głowy z elementami ajurwedy</li>
                        <li>• masaż odcinka szyjnego i klatki piersiowej</li>
                        <li>• demakijaż spa + autorska pielęgnacja twarzy z masażem liftingującym, peelingiem oczyszczająco- rozświetlającym z ekstraktem z kawioru roślinnego, oleju z awokado i bogatą w polifenole herbatą matcha</li>
                        <li>• płatki nawilżające pod oczy z kolagenem, kwasem hialuronowym i kompleksem wodorostów + maska na usta z matchą, olejem arganowym, witaminą E</li>
                        <li>• peeling enzymatyczny skóry głowy z masażem skalpu</li>
                        <li>• indywidualnie dobrana organiczna kąpiel włosów oraz dedykowana maska z sauną parową, oparte na naturalnych produktach z biodynamicznych upraw</li>
                        <li>• rytuał energetyzujący z ciepłymi ręcznikami z aromaterapią</li>
                        <li>• wzmacniający masaż pleców w pozycji siedzącej</li>
                        <li>• suszenie włosów suszarką Dyson</li>
                        <p>*produkty do pielęgnacji włosów bazują na olejkach eterycznych i hydrolatach m.in rozmarynu, lawendy, wyciągu z oliwek, olejku makadamia, orzecha włoskiego, bergamotki, pomarańczy, kopru włoskiego.</p>
                    </ul>
                  </p>
                <p class="font-secondary text-button-dark text-2xl font-regulary">549 PLN (2h)</p>
            </div>
          </div>

          <div class="flex flex-col lg:flex-row justify-center gap-4 md:gap-11 max-w-[1000px] pb-10">
            <div class="w-[360px] h-[337px] mx-auto overflow-hidden flex justify-center ">
                <Image src={head_spa_photo_229} alt={"something"} class="w-full h-full object-cover cursor-pointer hover:scale-110 transition-transform duration-300" />
            </div>
            <div class="p-4 md:pt-0 w-full max-w-[400px] lg:max-w-[512px]">
                <h6 class="font-primary text-button-dark text-4xl font-bold mb-2">Bali Head SPA Essence</h6>
                <!-- <p class="font-secondary text-button-dark text-base font-bold mb-2">{subtitle}</p> -->
                <p class="text-xl text-secondary-text leading-[130%] mb-6">
                    <p class="text-xl text-secondary-text leading-[130%] mb-6">
                      <ul class=` text-lg text-secondary-text leading-[130%] mb-6`>
                        <li>• masaż balijski</li>
                        <li>• aromaterapia antystresowa </li>
                        <li>• masaż głowy z elementami ajurwedy</li>
                        <li>• masaż odcinka szyjnego i klatki piersiowej</li>
                        <li>• demakijaż SPA + autorska pielęgnacja twarzy z masażem liftingującym, wykończona maską hydrożelową z algami i 8 rodzajami płatków róż</li>
                        <li>• organiczny peeling enzymatyczny skóry głowy z masażem skalpu</li>
                        <li>• indywidualnie dobrana organiczna kąpiel oraz dedykowana maska z sauną dla włosów, oparte na naturalnych produktach z biodynamicznych upraw </li>
                        <li>• rytuał energetyzujący z ciepłymi ręcznikami z aromaterapią </li>
                        <li>• wzmacniający masaż pleców w pozycji siedzącej</li>
                        <li>• suszenie włosów suszarką Dyson</li>
                        <p>*produkty do pielęgnacji włosów bazują na olejkach eterycznych i hydrolatach m.in rozmarynu, lawendy, wyciągu z oliwek, olejku makadamia, orzecha włoskiego, bergamotki, pomarańczy, kopru włoskiego.</p>
                    </ul>
                  </p>
                <p class="font-secondary text-button-dark text-2xl font-regulary">599 PLN (2h 30min)</p>
            </div>
          </div>
        </div>
    </section>
</Layout>
