import OpinionsBackground from "assets/OpinionsBackground.png" import avatar
from "assets/icons/avatar.png" import arrow_right from
"assets/icons/arrow_right.svg" import arrow_left from
"assets/icons/arrow_left.svg" import {Image} from "astro:assets"

<section
  class="relative w-full flex justify-center items-center lg:py-16 overflow-hidden"
>
  <Image
    src={OpinionsBackground}
    alt=""
    class="w-full h-screen object-cover absolute -z-10"
  />
  <div
    class="container md:flex md:gap-5 justify-center p-10 text-secondary-text"
  >
    <div class="hidden md:block">TEST</div>

    <div>
      <h1 class="text-5xl font-primary font-bold text-button-dark">Opinie</h1>
      <p>Zobacz jak oceniają nas nasi klienci</p>
    </div>

    <div class="relative">
      <img
        src={arrow_left.src}
        class="hidden w-8 h-8 absolute top-1/2 -left-12"
      />
      <img
        src={arrow_right.src}
        class="hidden w-8 h-8 absolute top-1/2 -right-12"
      />

      <div class="flex gap-2 items-center font-primary">
        <Image src={avatar} alt="avatar" class="w-12" />
        <p class="text-lg">Joanna Włoch</p>
      </div>

      <p>
        Po wizycie w tym salonie moje zdanie kompletnie się zmieniło. Atmosfera
        od samego wejścia była niesamowicie relaksująca, a delikatne światło i
        spokojna muzyka natychmiast wyciszyły moje nerwy po trudnym dniu.
        Terapeuta był niezwykle profesjonalny, zadbał, aby dostosować masaż do
        moich indywidualnych potrzeb i upewnić się, że czuję się komfortowo
        przez cały czas. Po seansie poczułem się jak nowonarodzony – pełen
        energii, a jednocześnie w głębokim spokoju.
      </p>

      <div class="flex gap-2">
        <div class="flex gap-2">
          <div class="w-4 h-4 bg-primary rounded-full"></div>
          <div class="w-4 h-4 bg-[#D9D9D9] rounded-full"></div>
          <div class="w-4 h-4 bg-[#D9D9D9] rounded-full"></div>
          <div class="w-4 h-4 bg-[#D9D9D9] rounded-full"></div>
        </div>
      </div>
    </div>
  </div>
</section>
